.header{
    padding: 10px;
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-nav a{
    text-decoration: none;
    color:  var(--cor-preto) !important;
    margin-right: 20px;
}

.header .header-nav a {
    color: var(--cor-branca) !important;
    background-color: var(--cor-primaria) !important;
    padding: 10px;
    border-radius: 10px;
}

.header .header-nav .btn.btn-outline-danger:hover{
    background-color: var(--cor-primaria) !important;   
}